<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>

<body>
    <div id="app">
        <custom-form :form-model="form.model" :query="form.query"></custom-form>
        {{form.query}}
    </div>
    <script src='https://cdn.bootcss.com/vue/2.5.16/vue.min.js'></script>
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

    <script>
        const customform = {
            template: `
                <el-form :label-width="labelWidth" :rules="rules"  :label-position="labelPosition" :inline="true" :model="query" class="demo-form-inline">
                    <el-form-item 
                        :key="item.prop"
                        v-for="item in formModel"
                        :label="item.label"
                        :class="item.class ? item.class : null"
                        :style="{ width: item.width }"
                        v-show="!item.hidden"
                        :required="item.required"
                        :error="item.error"
                       >
                        <el-input v-if="['input', 'password', 'textarea', 'number'].includes(item.type)" v-model="query[item.prop]" :placeholder="item.placeholder"></el-input>
                        <div v-else-if="item.type === 'select'" :title="item.tooltip">
                            <el-select
                            v-model="query[item.prop]"
                            :multiple="item.multiple"
                            :placeholder="item.placeholder || '请选择'"
                            :filterable="item.filterable"
                            :disabled="item.disabled"
                            :clearable="item.clearable || false"
                            :collapse-tags="item.collapseTags || false"
                            :collapse-tags-tooltip="item.collapseTagsTooltip || false"
                            @change="v => item.onChange && item.onChange(v, this)"
                            >
                            <el-option
                                v-for="(_item, _index) in item.options"
                                :key="_index"
                                :value="_item[item.valueKey || 'value']"
                                :label="_item[item.labelKey || 'label']"
                                :disabled="_item.disabled || false"
                            />
                            </el-select>
                        </div> 
                    </el-form-item>
                </el-form>
            `,
            props: {
                formModel: {
                    type: Array,
                    default: () => []
                },
                query: {
                    type: Object,
                    default: () => { }
                },
                labelWidth: {
                    type: Number | String,
                    default: ''
                },
                labelPosition: {
                    type: String,
                    default: 'left',
                },
            },
            computed: {
                rules() {
                    let _rules = {};
                    this.formModel.forEach(item => {
                        if (item.rules) {
                            _rules[item.prop] = item.rules;
                        }
                    });
                    return _rules;
                }
            },
        }
        new Vue({
            el: '#app',
            components: {
                'custom-form': customform,
            },
            data: function () {
                return {
                    form: {
                        model: [
                            {
                                prop: 'name',
                                type: 'input',
                                label: '姓名',
                                placeholder: '请输入姓名',
                                width: '600px'
                            },
                            {
                                prop: 'quar',
                                type: 'select',
                                label: '季度',
                                placeholder: '请输入季度',
                                options: [
                                    {
                                        key: '0',
                                        label: '一季度',
                                        value: 1,
                                    },
                                    {
                                        key: '1',
                                        label: '二季度',
                                        value: 2,
                                    }
                                ],
                                valueKey:'value',
                                labelKey:'label',
                            },
                            {
                                prop: 'age',
                                type: 'input',
                                label: '年龄',
                                placeholder: '请输入年龄',
                            },
                        ],
                        query: {
                            name: 'xxx',
                            age: '18',
                            quar:''
                        }
                    }
                }
            },
        })
    </script>
</body>

</html>